# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FACULTATE\ANUL III\SEMESTRUL II\ALGORITMI PARALELI SI DISTRIBUITI\Proiect\Secvential\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
